/* define the variables in the root psudoclass */

:root {
  --red: #f50f07;
  --beige: #ffeead;
  --yellow: #ffcc5c;
}

html,
body {
  /* background: #ffeead; */
  background: var(--beige);
  /* color: #ff6f69; */
  color: var(--red);
}

h1,
p {
  /* color: #ff6f69; */
  color: var(--red);
}

#navbar {
  /* new variable in local scope  */
  --nav-red: #ff6f19;
}
#navbar a {
  /* color: #ff6f69; */
  color: var(--red);
}

.item {
  /* overide the red color for items inherited down the document tree  */
  --red: #ff8e69;
  /* locally define yellow item  this could also have been declared in its own .item then used in this one  */
  --item-yellow: #fffc5c;

  background: var(--item-yellow);
}

/* call out a featured item by overiding the CSS just for it */
.featured {
  --yellow: #ffe55b;
  --red: #ff5564;
}

button {
  /* background: #ff6f69; */
  background: var(--red);
  color: var(--yellow);
  /* color: #ffcc5c; */
}
